.heartBtnNotLiked {
  border: none;
  background: transparent;
  cursor: pointer;
  font-size: 24px;
  color: white;
}

.heartBtnLiked {
  border: none;
  background: transparent;
  cursor: pointer;
  font-size: 24px;
  color: red;
}